* {
  font-family: "owners-wide", sans-serif;
  background-color: #c0dfe8;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  cursor: url("./cursor.png") 45 45, url("./cursor.png"), auto; /* Ensure default cursor for all elements */
}

h1, p, a, li, span, div {
  cursor: url("./cursor.png") 45 45, url("./cursor.png"), auto; /* Ensure custom cursor for text elements */
}

h1 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.067em;
  font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff; /* Embossed effect on hover */
}

ul {
  list-style-type: none;
  text-align: center;
  position: sticky;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-weight: bold;
}

.slideshow-container {
  position: relative;
  margin: auto; /* Center the slideshow */
  overflow: hidden;
  display: flex; /* Use flexbox for center alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 50%; /* Set maximum width to 50% */
}

.gallery-image {
  display: none; /* Start with images hidden */
  width: 100%;
  height: auto;
  transition: opacity 1.5s ease; /* Smooth fade transition over 1.5 seconds */
}

.gallery-image.active {
  display: block; /* Display the active image immediately without transition */
}

p {
  font-weight: bold;
  color: #e8a0bd;
  letter-spacing: 0.052em;
  font-size: 100%;
}

li {
  font-size: 150%;
}

a:hover, .luxbar-menu img:hover {
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff; /* Embossed effect on hover */
  /*cursor: url("./hatUp.png") 45 45, auto; /* Custom cursor on hover */
}

img:hover, h1 a:hover {
  cursor: url("./hatUp.png") 45 45, auto; /* Custom cursor on hover */
}

.luxbar-item, .luxbar-item a, .luxbar-item a:hover {
  cursor: url("./hatUp.png") 45 45, auto; /* Custom cursor on hover */
}

a {
  text-decoration-line: none;
  color: #e8a0bd;
}

p:hover, img:hover {
  cursor: url("./hatUp.png") 45 45, auto; /* Custom cursor on hover */
}

li a {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 10px;
  text-align: center;
  color: #e8a0bd;
}

h1 a {
  color: #e8a0bd;
  background-color: transparent;
}

h1 {
  font-size: 250%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Navigation arrows and pause button */
.prev, .pause, .next {
  position: absolute;
  font-size: 24px;
  cursor: url("./cursor.png") 45 45, url("./cursor.png"), auto;
  font-family: monospace;
  user-select: none;
  color: #ffc0d9;
  padding: 16px;
  border: none;
  z-index: 1; /* Ensure they are above the images */
}

.luxbar-fixed {
  display: none; /* Hide luxbar by default */
  box-shadow:none;
}

.luxbar-navigation {
  padding-bottom: 0.7%;
}

.prev {
  left: 40%;
  color: #ffc0d9;
}

.pause {
  left: 50%; /* Center the pause button */
  transform: translateX(-50%);
}

.next {
  right: 40%;
}

/* Style for smaller screens */
@media only screen and (max-width: 600px) {
  .slideshow-container {
    max-width: 90%;
    height: auto;
    margin-top: 20px; /* Add some space at the top */
  }

  .gallery-image {
    width: 100%; /* Full width for smaller screens */
  }

  .luxbar-fixed {
    display: block; /* Show luxbar on mobile view */
  }
}

/* Luxbar styles */

.luxbar-item a {
  color: #c389a0; /* Change the text color to #ffc0d9 */
  text-shadow: -1px -1px 2px #000000, 1px 1px 2px #ffffff; /* Embossed effect */
}

.luxbar-item a:hover {
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff; /* Embossed effect on hover */
  cursor: url("./hatUp.png") 45 45, auto; /* Custom cursor on hover */
}

.luxbar-brand a {
  color: white; /* Match the brand color */
  text-shadow: -1px -1px 2px #000000, 1px 1px 2px #ffffff; /* Embossed effect */
}

.luxbar-menu a {
  color: #e8a0bd;
  text-shadow: -1px -1px 2px #000000, 1px 1px 2px #ffffff; /* Embossed effect */
}

/* Luxbar hamburger menu icon */
.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger > span {
  background-color: #ffc0d9; /* Match the hamburger icon color */
}

/* Luxbar hamburger menu icon on hover */
.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger:hover > span {
  background-color: #d17097; /* Match the hamburger icon color on hover */
}

/* Luxbar hamburger menu icon when active */
.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger > span:before {
  background-color: #ffc0d9; /* Match the hamburger icon color when active */
}

.luxbar-menu-material-green .luxbar-hamburger span,
.luxbar-menu-material-green .luxbar-hamburger span::before,
.luxbar-menu-material-green .luxbar-hamburger span::after {
  background-color: #ffc0d9;
}

.fa-instagram {
  font-size: 200%;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-envelope {
  font-size: 200%;
  margin-left: 5%;
  margin-right: 5%;
}


